/* color palette from <https://github.com/vuejs/theme> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 14px; */
  font-family: 'Poppins', sans-serif;
}
body {
  /* overflow-x: hidden; */
}
