@import './base.css';
.hover-underline {
  text-decoration: none;
  color: rgb(131, 131, 131);
}

.hover-underline:hover {
  text-decoration: underline;
  color: black;
}

.fs-14 {
  font-size: 13px;
}

.text-hover:hover div {
  color: #8a8a8a;
}
.dropdown-menu {
  display: block;
  opacity: 1;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 0.1s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.shadow-bottom {
  box-shadow: 0 1px 1px #ccc;
}

.w-20 {
  width: 20%;
}
