@import './base.css';
.hover-underline {
  text-decoration: none;
  color: rgb(131, 131, 131);
}

.hover-underline:hover {
  text-decoration: underline;
  color: black;
}

.fs-14 {
  font-size: 13px;
}
.text-hover {
  color: black;
}

.text-hover:hover div {
  color: #8a8a8a;
}

.text-hover:hover {
  color: #8a8a8a;
}

.text-menu {
  color: #8a8a8a;
}

.text-menu:hover {
  color: black;
}

.dropdown-menu-user,
.dropdown-menu {
  display: block;
  opacity: 1;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 0.1s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.shadow-bottom {
  box-shadow: 0 1px 1px #ccc;
}

.w-20 {
  width: 20%;
}

.dropdown-user {
  position: relative;
}

.z-100 {
  z-index: 2000;
}

.dropdown-menu-user {
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(-10px);
  transition: 0.2s; */
}

.dropdown-user:hover .dropdown-menu-user {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cursor-pointer {
  cursor: pointer;
}

.flatpickr-calendar {
  border-radius: 16px;
}

.flatpickr-day.selected {
  background: #198754;
  border-color: #198754;
}
