@import './base.css';
.hover-underline {
  text-decoration: none;
  color: rgb(131, 131, 131);
}

.hover-underline:hover {
  text-decoration: underline;
  color: black;
}

.fs-14 {
  font-size: 13px;
}

.text-hover:hover {
  opacity: 0.6;
}
.dropdown-menu {
  display: block;
  opacity: 1;
  visibility: hidden;
  transition: 0.2s;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
